In [1]:
import pandas as pd
df_excel = pd.read_excel('/content/New Microsoft Excel Worksheet.xlsx')
print(df_excel)

       Lattitude  Longitude  living_area_renov  lot_area_renov  \
0        52.8645   -114.557               2880            5400
1        52.8878   -114.470               2470            4000
2        52.8852   -114.468               2940            6600
3        52.9532   -114.321               3350           42847
4        52.9047   -114.485               2060            4500
...          ...        ...                ...             ...
14615    52.6191   -114.472               2250           17286
14616    52.5075   -114.393               1540            7480
14617    52.7289   -114.507               1130            6120
14618    52.7157   -114.411               1420            6631
14619    52.5338   -114.552                900            3480

       Number of schools nearby  Distance from the airport    Price
0                             2                         58  2380000
1                             2                         51  1400000
2                             1                         53  1200000
3                             3                         76   838000
4                             1                         51   805000
...                         ...                        ...      ...
14615                         3                         76   221700
14616                         3                         59   219200
14617                         2                         64   209000
14618                         3                         54   205000
14619                         2                         55   146000

[14620 rows x 7 columns]