In [1]:
 !pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [4]:
import pandas as pd
df = pd.read_excel('/content/New Microsoft Excel Worksheet.xlsx')
print(df.head())
print(df.info())
print(df.describe())

   Lattitude  Longitude  living_area_renov  lot_area_renov  \
0    52.8645   -114.557               2880            5400
1    52.8878   -114.470               2470            4000
2    52.8852   -114.468               2940            6600
3    52.9532   -114.321               3350           42847
4    52.9047   -114.485               2060            4500

   Number of schools nearby  Distance from the airport    Price
0                         2                         58  2380000
1                         2                         51  1400000
2                         1                         53  1200000
3                         3                         76   838000
4                         1                         51   805000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14620 entries, 0 to 14619
Data columns (total 7 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Lattitude                  14620 non-null  float64
 1   Longitude                  14620 non-null  float64
 2   living_area_renov          14620 non-null  int64
 3   lot_area_renov             14620 non-null  int64
 4   Number of schools nearby   14620 non-null  int64
 5   Distance from the airport  14620 non-null  int64
 6   Price                      14620 non-null  int64
dtypes: float64(2), int64(5)
memory usage: 799.7 KB
None
          Lattitude     Longitude  living_area_renov  lot_area_renov  \
count  14620.000000  14620.000000       14620.000000    14620.000000
mean      52.792848   -114.404007        1996.702257    12753.500068
std        0.137522      0.141326         691.093366    26058.414467
min       52.385900   -114.709000         460.000000      651.000000
25%       52.707600   -114.519000        1490.000000     5097.750000
50%       52.806400   -114.421000        1850.000000     7620.000000
75%       52.908900   -114.315000        2380.000000    10125.000000
max       53.007600   -113.505000        6110.000000   560617.000000

       Number of schools nearby  Distance from the airport         Price
count              14620.000000               14620.000000  1.462000e+04
mean                   2.012244                  64.950958  5.389322e+05
std                    0.817284                   8.936008  3.675324e+05
min                    1.000000                  50.000000  7.800000e+04
25%                    1.000000                  57.000000  3.200000e+05
50%                    2.000000                  65.000000  4.500000e+05
75%                    3.000000                  73.000000  6.450000e+05
max                    3.000000                  80.000000  7.700000e+06